.wrapper {
  background: linear-gradient( 30deg, #134235, #236487 );
}

.robot {
  height: 200px;
  width: 200px;
}

.inventory-ul {
  padding: 20px 20px;
}

.inventory-li {
  border: 1px solid white;
}

.inventory-image {

}

@keyframes robotHover {
  50% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0, 0)
  }
}

#robot-2 {
  animation: robotHover 5s ease-in-out infinite;
  position: relative;
  top: 10vh;
  z-index: 1;
}