.wrapper {
  background: linear-gradient( 30deg, #134235, #236487 );
}

.col-6 {
  width: 45%;
  margin: 10px;
  display: inline-block;
}

.robot {
  width: 80%;
}

ul li {
  border: 1px solid white;
}