.wrapper {
  background: linear-gradient( 30deg, #134235, #236487 );
  height: 55vh;
  display: block;
  overflow: auto;
}

.robot {
  height: 200px;
  width: 200px;
}

.inventory-li {
  border: 1px solid white;
}

.inventory-image {

}