.console {
  background-color: #202024;
  height: 45vh;
  display: block;
}

.challengeWrapper {
  height: 55vh;
  display: block;
  overflow: auto;
}

.full-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}