.console {
  background-color: #202024;
  height: 45vh;
  display: block;
}

.challengeWrapper {
  height: 55vh;
  display: block;
  overflow: auto;
}

.full-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.tutorialOpen {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 2.5em;
  font-family: 'Press Start 2P', cursive;
  color: #eded00;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  z-index: 1;
  border: none;
}